@model List<Library.Web.Models.Book.AllBooksViewModel>

@*<nav>
	<h1 class="title" style="margin-left:100%">Books</h1>
	<a asp-action="AddBook"><i class="bi bi-plus-lg" style="color: #000; margin-left:250px; font-size: 40px"></i> </a>
</nav>*@

<link href=" ~ /css/book/allbooks.css" rel="stylesheet" type="text/css"/>

@{
	ViewData["Title"] = "Index";

	PagerModel pager = new PagerModel();
	int pageNo = 0;

	if (ViewBag.Pager != null)
	{
		pager = ViewBag.Pager;
		pageNo = pager.CurrentPage;
	}
}

<main>
	<form method="get">
		<br/>

		<table>
			<tr>
				<td colspan="5">
					<div>
						<button id="add" asp-action="Add" asp-controller="Book" class="btn btn-primary" style="margin-bottom: 5px; background-color:cadetblue; color:aliceblue"> add new book</button>
					</div>
				</td>
			</tr>
			<tr>
				<td width="100px">
					<div>
						<input placeholder="Name" id="name"/>
					</div>
				</td>
				<td width="100px">
					<div>
						<input placeholder="Description" id="description"/>
					</div>
				</td>
				<td width="100px">
					<div>
						<input placeholder="Author" id="author"/>
					</div>
				</td>
				<td width="100px">
					<div>
						<input placeholder="Publisher" />
					</div>
				</td>
				<td width="100px">
					<div>
						<input placeholder="Genre" />
					</div>
				</td>
				<td width="100px">
					<div>
						<input placeholder="Shelf" />
					</div>
				</td>
				<td width="60px">
					<button value="search" style="width:60px; height:25px; margin-left:5px">search</button>
				</td>
			</tr>
		</table>

		<hr/>

		@foreach (var row in Model)
		{
			<table>
				<tr style="vertical-align:top">
					<td width="200px">
						<div>
							<label>Title:</label> @row.Title
						</div>
					</td>
					<td width="200px">
						<div>
							<label>Description:</label> @row.Description
						</div>
					</td>
					<td width="200px">
						<div>
							<label>
								Authors:
							</label>
							@if (row?.Authors?.Count > 0)
							{
								foreach (var auth in row.Authors)
								{
									<div>
										@auth.FirstName&nbsp;@auth.LastName
									</div>
								}
							}
						</div>
					</td>
					<td width="150px">
							<label>
								Publishers:
							</label>
						<div>
							@if (row?.Publishers?.Count > 0)
							{
								foreach (var p in row.Publishers)
								{
									<div>
										@p.PublisherName
									</div>
								}
							}
						</div>
					</td>
					<td width="150px">
						<div>
							<label>
								Genres:
							</label>
							@if (row?.Genres?.Count > 0)
							{
								foreach (var genre in row.Genres)
								{
									<div>
										@genre.CategoryName
									</div>
								}
							}
						</div>
					</td>
					<td width="150px">
						<div>
							<label>
								Shelves:
							</label>
							@if (row?.Shelves?.Count > 0)
							{
								foreach (var shelf in row.Shelves)
								{
									<div>
										@shelf.ShelfNumber&nbsp;@shelf.ClosetNumber
									</div>
								}
							}
						</div>
					</td>
					<td>
						<div>
							<button type="submit" id="edit" style="margin: 5px 5px 5px 5px">Edit</button>
						</div>
					</td>
					<td>
						<div>
							<button type="submit" id="remove" asp-action="delete" asp-controller="book" asp-route-id="@row?.Id" style="margin: 5px 5px 5px 5px">Remove</button>
						</div>
					</td>
				</tr>
			</table>
		}
	</form>

	<partial name="_pager" model="@pager" />

	<br />
</main>


