@model IEnumerable<Library.Model.Models.Position>

@{
    var id = @ViewBag.testId;
}


@{
    ViewData["Title"] = "Index";
}

<br />
<p>
    <a asp-action="Add" asp-route-id="@id">+ New Position</a>
</p>

<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.ID)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.PositionName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Salary)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.StartWorkingDate)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.LogID)
            </th>

            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.ID)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.PositionName)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Salary)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.StartWorkingDate)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.LogID)
                </td>
                <td>
                    <a asp-action="Edit" asp-route-id="@item.ID">Edit</a> |
                    <a asp-action="Details" asp-route-id="@item.ID">Details</a> |
                    <a asp-action="Delete" asp-route-id="@item.ID">Delete</a>
                </td>
            </tr>
        }
    </tbody>
</table>
<br />
<tfoot>
    <tr>
        <td>
            <a asp-controller="Position" asp-action="Index">Back to List</a>
        </td>
    </tr>
</tfoot>